# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
spent_by_customer = orders.groupby('CustomerID')['amount_spent'].sum().sort_values(ascending=False).reset_index()
spent_by_customer

      CustomerID  amount_spent
0          14646     280206.02
1          18102     259657.30
2          17450     194550.79
3          16446     168472.50
4          14911     143825.06
...          ...           ...
4334       17956         12.75
4335       16454          6.90
4336       14792          6.20
4337       16738          3.75
4338       13256          0.00

[4339 rows x 2 columns]

In [4]:
# spent_by_customer.describe()

In [5]:
# Define amount of 25% and 75% quantile
lower_quantile = spent_by_customer['amount_spent'].quantile(.25)
upper_quantile = spent_by_customer['amount_spent'].quantile(.75)

# select customers spent whithin given quantile
selected_customers = spent_by_customer[
    (spent_by_customer['amount_spent'] >= lower_quantile) & 
    (spent_by_customer['amount_spent'] <= upper_quantile)]

selected_customers

      CustomerID  amount_spent
1085       15214       1661.44
1086       15024       1661.33
1087       15332       1661.06
1088       12967       1660.90
1089       14045       1659.75
...          ...           ...
3249       13395        307.72
3250       13060        307.53
3251       14915        307.48
3252       17120        307.46
3253       13932        307.40

[2169 rows x 2 columns]

In [6]:
def customer_label(amount):
    if amount >= upper_quantile:
        return 'VIP'
    elif lower_quantile <= amount <= upper_quantile:
        return 'Preferred'
    else:
        return 'Other'
    
spent_by_customer['customer_label'] = spent_by_customer['amount_spent'].apply(customer_label)
spent_by_customer['customer_label'].value_counts()

customer_label
Preferred    2169
VIP          1085
Other        1085
Name: count, dtype: int64

In [7]:
# pd.set_option('display.max_rows', None)
# spent_by_customer

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [8]:
merged_df = orders.merge(spent_by_customer[['CustomerID', 'customer_label']], on='CustomerID')

In [9]:
merged_df[merged_df['customer_label']=='VIP']['Country'].value_counts().idxmax()

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [10]:
merged_df[merged_df['customer_label'].isin(['VIP', 'Preferred'])]['Country'].value_counts().idxmax()

'United Kingdom'